<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calendar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CalendarDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>331DEAAB1DDACC3C00ADAF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>331DEAD31DDACD3200ADAF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>331DEAF51DDACE1200ADAF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>331DEB0B1DDACFDD00ADAF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
